main {

background-color:  #f7f381;
padding: 8px 20px;

width: 500px;

border: 1px solid #f7f381;
box-shadow: 0 0 10px 2px #333333;

}

.date{
    text-align: center;
}

.my-list{

    size:  30px;

}



