
body {
    font: 12px/1.5 Verdana, sans-serif;
}

.button {
    outline: none;
    text-decoration: none;
    color: #000;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #000;    
    font-size: 12 px;
    padding: 1em 2em;
    border-radius: 2em;
}