*{
    padding: 0;
    margin: 0;

}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    
}

.container header {
    text-align: center;
}

.container header h2 {

}

.container header p {

}

.cards-list {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1 1 30%;
    border-radius: 12px;
    background-color: #819DAF;
    ;
}

.card img{
    display: block;
    width: 100%;
    border-radius: 12px;
}