body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}


nav ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav li {
    size: 24px;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}